.team-thumbnail {
    margin-bottom: $padding-small;
    @include medium {
        margin-bottom: $padding-medium;
    }
    @include large {
        margin-bottom: $padding-large;
    }
    &__image {
        // overflow: hidden;
        // height: 0;
        // padding-bottom: 65%;
        margin-bottom: 1em;
        background: #D8D8D8;
    }
    // &__asset {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    // }
    &__text {
        font-weight: 300;
        line-height: 1.35;
        font-size: $rem-small - 2px;
        @include medium {
            font-size: $rem-medium - 3px;
        }
        @include large {
            font-size: $rem-large - 4px;
        }
    }
}