{% embed '_layout' with {
    metaDescription: entry.newsIntroduction | striptags,
    metaImage: entry.heroImage | length ? entry.heroImage.first.url : null
} %}
    {% block content %}
        <div class="row heading">
            <div class="s-col-12">
                <p><a href="/news">Back to news</a></p>
            </div>
        </div>
        <div class="row heading">
            <div class="text s-col-12 m-col-8 m-off-2">
                <h2>{{ entry.title }}</h2>
            </div>
        </div>
        {% include 'partials/blocks' with { blocks: entry.blocks } %}
    {% endblock %}
{% endembed %}