{% embed '_layout' with {
    metaDescription: entry.body | striptags,
    metaImage: entry.portrait | length ? entry.portrait.first.url : null
} %}
    {% block content %}
        <div class="row heading">
            <div class="s-col-12">
                <p><a href="/about-us">Back to about us</a></p>
            </div>
        </div>
        <div class="row block">
            <div class="m-col-5">
                {% if entry.portrait | length %}
                    {% include 'partials/asset' with {
                        asset: entry.portrait.first
                    } %}
                {% endif %}
            </div>
            <div class="m-col-7">
                <h3>
                    <strong>{{ entry.title }}</strong><br>
                    {{ entry.role }}<br>
                    {{ entry.email }}
                </h3>
                {{ entry.body}}
            </div>
        </div>
        {% include 'partials/team' %}
    {% endblock %}
{% endembed %}
