<ul class="header__menu">
    <li><a href="/about-us"><h1>about us</h1></a></li>
    <li><a href="/contact"><h1>contact</h1></a></li>
    <li><a href="/news"><h1>news</h1></a></li>
    {% if social.linkedin %}<li><a href="{{ social.linkedin }}" target="_blank"><h1>linkedin</h1></a></li>{% endif %}
    {% if social.instagram %}<li><a href="{{ social.instagram }}" target="_blank"><h1>instagram</h1></a></li>{% endif %}
    {% if social.facebook %}<li><a href="{{ social.facebook }}" target="_blank"><h1>facebook</h1></a></li>{% endif %}
</ul>