{% embed '_layout' with {
    heroImage: entry.mainImage | length ? entry.mainImage.first : null,
    heroVideo: entry.mainVideo | length ? entry.mainVideo.first : null,
    heroText: entry.mainText
} %}
    {% block content %}
        {% include 'partials/blocks' with { blocks: entry.blocks } %} 
        <div class="block row">
            {% for teamEntry in craft.entries.section('team').order('lft asc') %}
                {% if teamEntry.id != entry.id %}
                    {% include 'partials/team-thumbnails' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}